{{#if currentUser}}
<a href="/auth/logout">Logout</a>
<h2>Welcome, {{currentUser.fullName}}!</h2>
{{else}}
<a href="/auth/signup">Signup</a>
<a href="/auth/login">Login</a>
<h1>{{appTitle}}</h1>
{{/if}}
