<h2>Review: {{name}}</h2>
<form action="/review/{{id}}/review">
    <label for="review-input">Comment:</label>
    <input type="text" name="comment" placeholder="review goes here">
    <button type="submit">Submit</button>
</form>