<h2>Login</h2>
<form action="/auth/login" method="POST">
    <label for="email-input">Email:</label>
    <input type="email" name="email" placeholder="john@smith.com">
    <label for="password-input">Password:</label>
    <input type="password" name="password" placeholder="*********">
    <button type="submit">Submit</button>
</form>
{{#if errorMessage}}
    <p>{{errorMessage}}</p>
{{/if}}