<h2>Create an Account</h2>
<form action="/auth/signup" method="POST">
    <label for="fullName-input">Full name:</label>
    <input type="text" name="fullName" placeholder="John Smith">
    <label for="email-input">Email:</label>
    <input type="email" name="email" placeholder="john@smith.com">
    <label for="password-input">Password:</label>
    <input type="password" name="password" placeholder="********">
    <button type="submit">Submit</button>
</form>
{{#if errorMessage}}
    <p>{{errorMessage}}</p>
{{/if}}